body {
    background: #5c00b1;
    margin: 0;
}

div h3 {
    color: white;
}

#home_score {
    color: yellow;  
}

#guest_score {
    color: yellow;  
}

.time {
    color: yellow;    
}

.btn {
    border: white 1px solid;
    background: #5c00b1;
    color: white;
    border-radius: 3px;
}
.container {
    display: flex;
    justify-content: space-around;
}

.futter {
    padding: 20px;
}

.win {
    background: green;
}

.lost {
    background: red;
}