body {
    background: #5c00b1;
    margin: 0;
}

div h3 {
    color: white;
}

@font-face {
  font-family: CursedTimerUlil;
  src: url(CursedTimerUlil-Aznm.ttf);
}



#home_wnd {
    text-align: center;
}

#guest_wnd {
    text-align: center;
}

#time_wnd {
    text-align: center;
}

#home_score {
    font-family: CursedTimerUlil;
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    text-align: center;
    color: #F94F6D;
    
    background-color: black;
    border-radius: 6px;
}

#guest_score {
    font-family: CursedTimerUlil;
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    text-align: center;
    color: #F94F6D;
    
    background-color: black;
    border-radius: 6px;
}

.time {
    font-family: CursedTimerUlil;
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    text-align: center;
    color: #F94F6D;    
    
    background-color: black;
    border-radius: 6px;
}

.btn {
    border: white 1px solid;
    background: #5c00b1;
    color: white;
    border-radius: 3px;
    font-family: CursedTimerUlil;
    cursor: pointer;
}
.container {
    display: flex;
    justify-content: space-around;
}

.win {
    color: greenyellow;
}

.lost {
    color: red;
}

.draw {
    color: yellow;
}

#newgame_btn {
        padding: 10px;
}